extends layout

block content
  h1= title
  p Welcome to the northwest missouri state university #{title}
  button(type="button", class="btn btn-warning", onclick="goFaster()") Press Me
  div#faster Increase the speed
  script. 
   var mph = 20;
   var change = 1;
   function goFaster() {
     mph += change;
     change += 1;
     var divF = document.getElementById('faster');
     divF.innerHTML = "MPH " + mph + " with change " + change;
    }
  a(href="/items") search results
